<ion-view view-title="Registro">

    <ion-nav-bar class="bar-header bar-royal">

    </ion-nav-bar>

    <ion-content>
        <div class="list">

            <label class="item item-input item-floating-label">

                <span class="input-label">Nombre(s)</span>

                <input type="text" placeholder="Nombre(s)">
            </label>

            <label class="item item-input item-floating-label">

                <span class="input-label">Apellido(s)</span>

                <input type="text" placeholder="Apellido(s)">
            </label>

            <label class="item item-input item-floating-label">

                <span class="input-label">Email</span>

                <input type="email" placeholder="Email">
            </label>

            <label class="item item-input item-floating-label">

                <span class="input-label">Password</span>

                <input type="password" placeholder="Password">
            </label>

            <div class="padding">

                <button class="button button-block button-balanced" ng-click="">
                    ¡Registrarme!
                </button>
            </div>
        </div>
    </ion-content>

</ion-view>