.boxman > {
	width: 200px;
	.messageBox {
		border: 1px solid yellow;
		> .titleBox{
			color: blue;
		}
	}
	.userBox{
		border: 10px solid gray; 
		font-size: 2em;
		font-color: white;
		> .titleBox{
			color: white;
			font-color: red;
		}
	}
}