<ion-view title="Page" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
        <button id="page-button1" class=" button button-positive  button-block " ng-click="getNetworkInformation()">show info</button>
        <ion-list id="page-list1" class=" ">
            <ion-item id="page-list-item1" class="  ">Item 1</ion-item>
            <ion-item id="page-list-item2" class="  ">Item 2</ion-item>
            <ion-item id="page-list-item3" class="  ">Item 3</ion-item>
        </ion-list>
    </ion-content>
</ion-view>
