<ion-view title="Form">
    <ion-content padding="'true'" class="has-header">
        <form class="list">
            <label class="item item-input" name="name">
                <span class="input-label">Name</span>
                <input type="text" placeholder="Please your name">
            </label>
            <label class="item item-input">
                <span class="input-label">NID</span>
                <input type="text" placeholder="Identification Number">
            </label>
            <label class="item item-input">
                <span class="input-label">Phone</span>
                <input type="number" placeholder="Mobile Phone">
            </label>
            <label class="item item-input">
                <span class="input-label">Age</span>
                <input type="number" placeholder="Age">
            </label>
        </form>
        <button class="button button-stable button-block  icon-left ion-android-add">Tap me!</button>
    </ion-content>
</ion-view>