<ion-view title="home">
    <ion-content padding="'true'" class="has-header has-footer">
        <a menu-close="" href="#/page1" class="button button-dark button-block  icon ion-android-apps">Cards</a>
        <a menu-close="" href="#/page2" class="button button-light button-block ">Form</a>
        <a menu-close="" href="#/page3" class="button button-positive button-block ">Toogle</a>
        <a menu-close="" href="#/page4" class="button button-balanced button-block ">Action Sheet</a>
        <a menu-close="" href="#/page5" class="button button-assertive button-block ">Modal</a>
        <a menu-close="" href="#/page6" class="button button-energized button-block  icon ion-alert-circled">popup</a>
        <a menu-close="" href="#/page7" class="button button-calm button-block  icon-left ion-android-bicycle">Event</a>
    </ion-content>
</ion-view>