<ion-view title="Toogle">
    <ion-content padding="'true'" class="has-header">
        <form class="list">
            <ion-toggle toggle-class="toggle-assertive" name="python">Python</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" name="java">Java</ion-toggle>
            <ion-toggle toggle-class="toggle-light" name="javascript">JavaScript</ion-toggle>
            <ion-item class="range range-balanced">Range
                <input type="range" value="50" min="0" max="100">
            </ion-item>
            <ion-item class="range range-assertive">Range
                <input type="range" value="50" min="0" max="100">
            </ion-item>
            <ion-checkbox>Checkbox</ion-checkbox>
            <ion-checkbox>Checkbox</ion-checkbox>
        </form>
    </ion-content>
</ion-view>