<ion-view view-title="Login">

    <ion-nav-bar class="bar-header bar-royal">

    </ion-nav-bar>

    <ion-content>
        <div class="list">

            <label class="item item-input">

                <input type="email" placeholder="email" ng-model="login_email" />
            </label>

            <label class="item item-input">

                <input type="password" placeholder="password" ng-model="login_password" />
            </label>

            <div class="padding">

                <button class="button button-block button-dark" ng-click="singIn()">
                    Ingresar
                </button>
            </div>
        </div>

    </ion-content>

</ion-view>