<!DOCTYPE html>
<html lang="en" ng-app="lab3a">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
</head>
<body>
    <div ng-controller="controller_1">
        <h1>Names</h1>
        <ul>
            <li ng-repeat="names in simple_names">{{ names }}</li>
        </ul>

        <h1>Heroes</h1>
        <ul>
            <li ng-repeat="heroe in heroes">{{ heroe.firstname }} {{ heroe.lastname }}</li>
        </ul>
    </div>

    <script>
        var my_lab3a = angular.module('lab3a', []);

        my_lab3a.controller('controller_1', ['$scope', function($scope){

            $scope.simple_names = ["Alejandro", "Patrick", "Bolson"];

            $scope.heroes = [
                {
                    firstname: "Alejandro",
                    lastname: "Romero"
                },
                {
                    firstname: "Diego",
                    lastname: "Pan"
                },
                {
                    firstname: "Filly",
                    lastname: "Rest"
                },
                {
                    firstname: "Jimmy",
                    lastname: "Lagp"
                },
                {
                    firstname: "Yopo",
                    lastname: "Rom"
                },
                {
                    firstname: "Sara",
                    lastname: "Rome"
                }
            ]
        }]);
    </script>

</body>
</html>
