<!DOCTYPE html>
<html lang="en" ng-app="lab3c">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>

    <style>
        div{
            width: 600px;
            margin: 10px auto;
            text-align: center;
        }

        .container{
            border: solid 2px;
        }

        .angularjs{
            background:red;
            font-size: 40px;
            padding: 0 40px;
            color: #fff;
        }
    </style>

</head>
<body>
    <div ng-controller="controller_1">

        <div class="container">
            <p ng-style="stypes">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Rem assumenda ad explicabo voluptates mollitia ipsa repellat,
                harum doloremque dolorem facilis natus itaque ab vitae incidunt,
                consequuntur repellendus earum alias obcaecati!

                <h2 ng-class="special_class">Cambiar esta clase</h2>
            </p>
        </div>

        <button ng-click="changeProperties()">Cambiar Propiedades</button>

        <button ng-click="changeClassProperties()">Cambiar Clases</button>

        <button ng-click="resetClassProperties()">Eliminar Estilos</button>




    </div>

    <script>
        var my_lab3c = angular.module('lab3c', []);

        my_lab3c.controller('controller_1', ['$scope', function($scope){

            $scope.changeProperties = function(){

                $scope.stypes = {
                    "background": "blue",
                    "color": "yellow"
                };
            };

            $scope.changeClassProperties = function(){

                $scope.special_class = "angularjs";
            };

            $scope.resetClassProperties = function(){

                $scope.special_class = "";
                $scope.stypes ="";
            };


        }]);
    </script>

</body>
</html>
