<ion-view view-title="Crear Producto">

    <ion-nav-bar class="bar-header bar-royal">

    </ion-nav-bar>

    <ion-content>
        <div class="list">

            <label class="item item-input item-floating-label">

                <span class="input-label">Nombre</span>

                <input type="text" placeholder="Nombre Producto" />
            </label>

            <label class="item item-input item-floating-label">

                <span class="input-label">Tipo de Producto</span>

                <input type="text" placeholder="Tipo de Porducto" />
            </label>

            <label class="item item-input item-floating-label">

                <span class="input-label">Cantidad</span>

                <input type="number" placeholder="Cantidad" />
            </label>

            <label class="item item-input item-floating-label">

                <span class="input-label">Precio Unidad</span>

                <input type="number" placeholder="Precio Unidad" />
            </label>

            <div class="padding">

                <button class="button button-block button-balanced" ng-click="">
                    Crear Producto
                </button>
            </div>
        </div>
    </ion-content>

</ion-view>