<ion-view view-title="Restablecer Password">

    <ion-nav-bar class="bar-header bar-royal">

    </ion-nav-bar>

    <ion-content>
        <div class="list">

            <label class="item item-input">

                <input type="password" placeholder="password" />
            </label>

            <label class="item item-input">

                <input type="password" placeholder="Confirmar password" />
            </label>

            <div class="padding">

                <button class="button button-block button-assertive" ng-click="changePassword()">
                    Cambiar Contraseña
                </button>
            </div>
        </div>

    </ion-content>

</ion-view>