<ion-view title="Form">
    <ion-content padding="'true'" class="has-header has-footer">
        <form class="list">
            <label class="item item-input" name="firstname">
                <span class="input-label">Name</span>
                <input type="text" placeholder="firstname">
            </label>
            <label class="item item-input">
                <span class="input-label">Surname</span>
                <input type="text" placeholder="Lastname">
            </label>
        </form>
        <button class="button button-positive button-block ">Guardar</button>
    </ion-content>
</ion-view>