<ion-view title="Forgot Password">
    <ion-content padding="'true'" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input" name="email">
                    <span class="input-label">email</span>
                    <input type="email" placeholder="Your Email">
                </label>
                <label class="item item-input">
                    <span class="input-label">New Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="width: 300px; height: 28px;"></div>
            <a menu-close="" href="#/menu/home" class="button button-dark button-block ">Change Password</a>
            <a menu-close="" href="#/sign-up" class="button button-positive button-clear button-block button-small">Or create an account</a>
        </form>
    </ion-content>
</ion-view>