<ion-view title="Product Detail">
    <ion-content padding="'true'" class="has-header has-footer">
        <ion-list>
            <ion-item menu-close="">{{ data_product.name }}</ion-item>
            <ion-item menu-close="">{{ data_product.type }}</ion-item>
            <ion-item menu-close="">{{ data_product.quantity }}</ion-item>
            <ion-item menu-close="">{{ data_product.price }}</ion-item>
        </ion-list>
        <a menu-close="" href="#/product-edit/{{ data_product.id }}" class="button button-stable button-block ">Update Product</a>
        <div class="spacer" style="width: 300px; height: 14px;"></div>
        <a menu-close="" href="#/menu/home" class="button button-assertive button-clear button-block button-small">Delete Product</a>
    </ion-content>
</ion-view>
