<ion-view title="Profile">
    <ion-content padding="'true'" class="has-header">
        <ion-list>
            <ion-item menu-close="">Item 1</ion-item>
            <ion-item menu-close="">Item 2</ion-item>
            <ion-item menu-close="">Item</ion-item>
            <ion-item menu-close="">Item 3</ion-item>
        </ion-list>
        <ion-list></ion-list>
        <a menu-close="" href="#/profile-edit" class="button button-stable button-block ">Edit Profile</a>
        <a menu-close="" href="#/forgot-password" class="button button-positive button-clear button-block button-small">Change password</a>
        <div class="spacer" style="width: 300px; height: 60px;"></div>
        <a menu-close="" href="#/options" class="button button-assertive button-clear button-block button-small">Delete Account</a>
    </ion-content>
</ion-view>