<ion-view title="Sign In">
    <ion-content padding="'true'" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input" name="email">
                    <span class="input-label">email</span>
                    <input type="email" placeholder="your email">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a menu-close="" href="#/menu/home" class="button button-stable button-block ">Log in</a>
            <div class="spacer" style="height: 100px;"></div>
            <a menu-close="" href="#/forgot-password" class="button button-positive button-clear button-block button-small">forgot password</a>
            <a menu-close="" href="#/sign-up" class="button button-balanced button-clear button-block button-small">Or create an account</a>
        </form>
    </ion-content>
</ion-view>