<ion-view title="Sign Up">
    <ion-content padding="'true'" scroll="false" class="has-header">
        <form class="list">
            <ion-list></ion-list>
        </form>
        <form class="list">
            <label class="item item-input" name="email">
                <span class="input-label">Email</span>
                <input type="email" placeholder="email">
            </label>
            <label class="item item-input" name="firstname">
                <span class="input-label">Name</span>
                <input type="text" placeholder="Firstname">
            </label>
            <label class="item item-input" name="mobile">
                <span class="input-label">Surname</span>
                <input type="text" placeholder="Lastname">
            </label>
            <label class="item item-input" name="mobile">
                <span class="input-label">Phone</span>
                <input type="text" placeholder="Mobile">
            </label>
            <label class="item item-input" name="password">
                <span class="input-label">Password</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a menu-close="" href="#/menu/home" class="button button-royal button-block ">Sign Up</a>
        <a menu-close="" href="#/sign-in" class="button button-positive button-clear button-block button-small">Or Sign In</a>
    </ion-content>
</ion-view>