<ion-view title="Botones">
    <ion-content padding="true" class="has-header has-footer">
        <button class="button button-dark button-block  icon-right ion-android-archive button-full">Tap me!</button>
        <button class="button button-positive button-block  icon ion-android-add-circle">Tap me!</button>
        <button class="button button-balanced button-block  icon-right ion-android-add">Tap me!</button>
        <button class="button button-assertive button-block  icon-left ion-android-apps">Tap me!</button>
        <button class="button button-stable button-block button-small icon-right ion-android-bicycle">Tap me!</button>
        <button class="button button-calm button-block  icon-right ion-android-chat">Tap me!</button>
        <button class="button button-energized button-block ">Tap me!</button>
        <button class="button button-royal button-block ">Tap me!</button>
    </ion-content>
</ion-view>