<!DOCTYPE html>
<html lang="en" ng-app>
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="lab7-2.css">
</head>
<body ng-controller="StudentController">
  <h1>Información de los Alumnos</h1>
  <div class="wrapper">
    <div class="contact-item" ng-repeat="student in students | orderBy:'name'">
      <div class="name">{{ student.name }}</div>
      <span class="course">Estudia {{ student.course }} y su número es {{ student.phone }}</span>
    </div>
  </div>
  <div class="wrapper">
    <h2>Añadir Información</h2>
    Nombre: <input type="text" ng-model="newStudent.name">
    Curso: <input type="text" ng-model="newStudent.course">
    Teléfono: <input type="text" ng-model="newStudent.phone">
    <button ng-click="SaveStudent()">Guardar</button>
  </div>
  <script charset="utf-8" src="../angular/angular.min.js"></script>
  <script charset="utf-8" src="lab7-2.js"></script>
</body>
</html>
